@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* TYPOGRAPHY */
    --font-family: "Inter", sans-serif;

    /* COLORS */
    --color-hover: hsl(75, 94%, 57%);
    --color-button: hsl(0, 0%, 20%);
    --color-background: hsl(0, 0%, 8%);
    --color-card: hsl(0, 0%, 12%);
    --color-text: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

body {
    box-sizing: border-box;
    font-family: var(--font-family);
    background-color: var(--color-background);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.profile__container {
    background-color: var(--color-card);
    max-width: 350px;
    padding: 40px;
    border-radius: 10px;
}

.profile__img {
    object-fit: cover;
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile__header {
    text-align: center;
    margin: 20px 0 0 0;
}

.profile__name {
    color: var(--color-text);
    font-size: 1.50rem;
    font-weight: 700;
}

.profile__city {
    color: var(--color-hover);
    display: inline-block;
    margin: 10px 0 20px 0;
    font-weight: 600;
    font-size: .875rem;
}

.profile__description {
    color: var(--color-text);
    margin-bottom: 15px;
    font-size: .9375rem;
}

.profile__button {
    width: 100%;
    margin: 8px 0;
    padding: 15px;
    background-color: var(--color-button);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.4s;
}

.profile__button:hover {
    background-color: var(--color-hover);
    color: var(--color-background);
    cursor: pointer;
}

@media(max-width: 576px) {
    .profile__container {
        max-width: 300px;
        padding: 20px;
    }
}